{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | MyApp</title>
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
</head>
<body>
    <div class="page-wrapper">
        <div class="auth-container">
            <h2>Forgot Password ?</h2>
            <p>Enter your email to reset the password.</p>
            <form id="changingForm" autocomplete="off" novalidate>
                <div class="form-group">
                    <input type="email" name="username" placeholder="Email">
                    <span class="error-message">Valid email required</span>
                </div>
                <button type="submit" class="login-btn">Reset Password</button>
                <div class="to-signup">
                    Remember your password? <a href="{% url 'login' %}">Sign In </a>
                </div>
                <div class="robot-inside">
                    <img src="{% static 'images/robot.png' %}" alt="Robot">
                </div>
            </form>
        </div>
    </div>
</body>
</html>